html {
    scroll-behavior : smooth;
}

:root {
    --main-color: #fff;
    --main-font-color: #e3e3e3;
    --secondary-font-color: #2d2d2d;
    --main-item-bg-color: #d6d8d9;
    --main-item-color: #e02446;
    --main-highlight-color: red;
    --main-bg-color: #444;
    --container-bg-color: #343a40;
}

.navbar-dark .navbar-brand {
    color: var(--main-item-color);
}

.navbar-dark .navbar-brand:hover {
    color: var(--main-highlight-color);
}

h1 {
    margin-top: 3rem;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

a {
    color: var(--main-item-color);
}

a:hover {
    color: var(--main-highlight-color);
    text-decoration: none;
}

.category-header {
    color: var(--secondary-font-color);
    background-color: var(--main-item-bg-color);
    border-color: #c6c8ca;
    position: relative;
    padding: 0.74rem 1.25rem;
    border: 1px solid transparent;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.bg-dark {
    background-color: var(--container-bg-color) !important;
}

footer.footer {
    color: var(--main-color);
    background-color: var(--container-bg-color);
}

.card {
    margin-bottom: 1rem;
    color: var(--secondary-font-color);
}

.card-title {
    max-width: 90%;;
}

.spinner {
    border: 3px solid var(--main-color);
    border-top-color: var(--main-item-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    animation: spin 1.5s infinite;
    position: absolute;
    top: 20%;
    left: 50%;
}

.bottom-spinner {
    position: relative;
    top: 0%;
    margin: 20px 0 20px 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.unread-badge {
    position: absolute;
    right: 10px;
    top: 10px;
}

.logged-in-as {
    color: var(--main-color);
    margin-right: 10px;
}

.validation-error {
    margin-top: 20px;
}


.quote {
    color: #292929;
    background-color: var(--main-item-bg-color);
    display: block;
    margin: 1rem;
    padding: 0.74rem 1.25rem;
    border: 1px solid;
    border-color: #212529;
    border-radius: 0.25rem;
}

.smiley {
    color: red;
}


.youtube-warning {
    display: block;
    background-image: url('/youtube-warning.png');
    width: 560px;
    height: 315px;
}

.new-lines {
    white-space: pre-line;
}

.reply-form {
    margin-bottom: 50px;
}

.btn-primary {
    background-color: var(--main-highlight-color);
    border-color: var(--main-highlight-color);
}

.btn-primary:hover {
    background-color: var(--main-item-color);
    border-color: var(--main-item-color);
}

.btn-primary:focus {
    background-color: var(--main-item-color)!important;
    border-color: var(--main-highlight-color)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--main-item-color)!important;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--main-item-color);
}

.card-date {
    position: absolute;
    right: 20px;
}

.alert {
    margin-top: 20px;
}

.posting-toolbox {
    position: absolute;
    right: 20px;
}

.end-of-stream {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: auto auto 20px auto;
}
